#logo {
    /* border: 1px solid black; */
    width: 100px;
    height: 150px;
    margin-left:-100px;
    margin-top:-10px; 
}

#logo > img{
    width: 180px;
    height: 200px;
    margin-top: -20px ;
}

        #header a{
            /* border: 2px solid black; */
            width: 100%;
            display: inline;
            justify-content: space-around;
            text-decoration: none;
            color: black;
            width: 35%;
            font-weight: bold;
        }
        #header span {
            color: red;
        }
        #header {
            /* border: 1px solid black; */
            width: 400px;
            /* margin-top: 40px; */
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-around;
            /* border: 2px solid red; */
            /* width: 50%; */
            /* margin-left: 50px; */
        }

        #header:hover{
            color: chartreuse;
        }
      .navp > div > a > img{
      width:25px;
      height:25px;
      display:block;
      margin:auto;
      }
      .navp>div>a{
        text-decoration:none ;
        color:black;
        font-size:10px;
      }
      #pro{
        display:flex;
        width:100%;
        
      }

      #pro a{
      text-decoration:none;
      }
      
      #banner > p {
        text-align: center;
      }
      

        #nav>div{
            /* border:2px solid red; */
            display:flex;
            justify-content: space-between;
        }
        #parent img{
            width: 100%;
            height: 100%;
            margin: auto;

        }
        hr {
            font-weight: bolder;
            color: blue;
        }
        .navp{
            display:flex;
            width: 30%;
            justify-content: space-around;
           align-items: center;
        }
        #circleimg > div > a{
            /* display: flex; */
            text-decoration:none;
            
        }
        #banner > img{
        width: 40px;
        height: 40px;
    
        }

        #banner{
            /* display: block; */
            margin-left: 120px;
            border-top: 4px solid skyblue;
            margin-top: 40px;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* justify-content: space-between/; */
        }
      
        #circleimg>div> a > img{
            height: 70px;
            width: 70px;
        }
       
        #circleimg {
            /* border: 2px solid black; */
            display: flex;
            justify-content: space-between;
            /* border-bottom: 1px solid black; */
            height: 80px;
            display: flex;
            width: 80%;
            text-align: center;
            margin: auto;
            margin-top: 20px;
        }
        #circleimg > div > a{
            border: none;
            font-size: 10px;
        }

        .container{
            padding-top: 15px;
            display: flex;
            justify-content: space-around;
            text-align: center;
           
        }

        .container > a {
            text-decoration: none;
        }

        .container > a > img{

            width: 80px;
            height: 80px;
        } 


        .nav{
            display:flex;
            justify-content: space-evenly;
        } 

        


#pro{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 95%;
    padding-left: 140px;
    padding-right: 40px;
}

#pro > div > a > img {
    width: 100%;
}


#pro>div{
width: 80%;
}


.indiv{
display:flex;
/* border: 1px solid black; */
/* justify-content: center; */
align-items: center;
font-size: 17px;
}

.indiv > img{
    width: 15px;
    height: 15px;
}

.indiv > p{
    color: rgb(130, 128, 128);
}

.indiv > p > span{
color: #000;
}